* {
  box-sizing: border-box;
}

body {
  max-width: 1366px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  color: @black;
  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}

a, button {
  &:hover {
    opacity: 0.5;
  }
}

.wrapper {
  width: 1170px;
  padding: 0 70px;
  margin: 0 auto;
}

.grey {
  margin-bottom: 295px;
  position: relative;
  background-color: #4b4d4f;
  width: 100%;
  min-height: 384px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/rectangle-grey-bottom.png");
    width: 100%;
    height: 184px;
    bottom: -183px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/rectangle-grey-top.png");
    width: 100%;
    height: 184px;
    top: -158px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

::-webkit-input-placeholder {
  color: #bebebe;
  font-family: 'Roboto', sans-serif;
  font-size: 1.188em;
  font-weight: 300;
}
::-moz-placeholder {
  color:#bebebe;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
:-moz-placeholder {
  color:#bebebe;
  font-family: 'Roboto', sans-serif;
  font-size: 1.188em;
  font-weight: 300;
}
:-ms-input-placeholder {
  color:#bebebe;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


textarea::-webkit-input-placeholder {
  color: #bebebe;
  font-family: 'Roboto', sans-serif;
  font-size: 1.188em;
  font-weight: 300;
}
textarea::-moz-placeholder {
  color:#bebebe;
  font-family: 'Roboto', sans-serif;
  font-size: 1.188em;
  font-weight: 300;
}
textarea:-moz-placeholder {
  color:#bebebe;
  font-family: 'Roboto', sans-serif;
  font-size: 1.188em;
  font-weight: 300;
}
textarea:-ms-input-placeholder {
  color:#bebebe;
  font-family: 'Roboto', sans-serif;
  font-size: 1.188em;
  font-weight: 300;
}
