.sponsor {
  color: @white;
  margin-bottom: 263px;
}

.sponsor__heading {
  margin: 0;
  margin-bottom: 27px;
  font-size: 3.125em;
  text-align: center;
}

.sponsor__text {
  margin: 0 auto;
  width: 630px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.875em;
  font-weight: 300;
}

.sponsor__btn {
  position: absolute;
  bottom: -32px;
  left: 585px;
  z-index: 10;
  padding-top: 17px;
  display: block;
  text-align: center;
  width: 198px;
  height: 56px;
  border-radius: 15px;
  color: @white;
  text-decoration: none;
  font-size: 1.375em;
  background-color: @green;
}

.sponsor__icons {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-top: 47px;
}

.sponsor__icon {
  margin-right: 79px;

  &:nth-child(1) {
    margin-left: -8px;
  }


  &:nth-child(2) {
    margin-left: 3px;
  }

  &:nth-child(3) {
    margin-right: 0;
    margin-top: 31px;
    margin-left: 8px;
    display: block;
  }
}